* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

.body1{ max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:url(../images/icons.svg) repeat-x fixed;}

p{padding-bottom:.5em;
	padding-left:3em;
	padding-right:3em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.4em;
	color:#000;
	}

.bold1{color:#000;
    font-weight:bold;}

.bold2{color:#000;
    font-weight:bold;
    margin-left:24em;}

/*---Headings---*/

 h1 {font-family:'Bungee Hairline',cursive;
         	font-weight:bolder;
            color:#000;
			text-align: center;
            font-size:8em;
			padding-top:1.2em;
			padding-bottom:0em;
			}

h2 {font-family:'Bungee Hairline',cursive;
           font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:5em;
			padding-top:1em;
			padding-bottom:0.5em;
			}

h3{font-family: 'Sacramento', cursive;
    font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:6em;
			padding-top:1em;
            padding-bottom:.7em;}

/*---Nav---*/

.nav a{
	padding:4em 0;
	text-align:center;
	margin:8em;
	color:#fff;
	text-decoration:none;
	font-size:2em;
	}

nav {padding-top:1em;
	padding-bottom:1em;}

nav ul {text-align:center;}

nav ul li {display:inline;
	text-align:center;}

nav{position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	z-index:2;}

.nav a:hover{text-decoration:none;
			color:#ef9abc;
			}

.dia{font-family:'Bungee Hairline',cursive;
    font-size:8em;
    font-weight:bold;
    color:#d2b0e2;}

/*---Elements---*/
.element-individual{margin-top:-1em;
        margin-left:1em;
        width:40%;
        height:27em;
        table-layout:fixed;}

.bold1{color:#fff;
    font-size:1.4em;
    padding-left:.4em;
    width:37%;
    background-color:rgba(0, 0, 0, 0);
			font-weight:bold;
			text-align:left;
            border:0px solid #fff;
			}

.bold3{color:#fff;
    font-size:1.3em;
    padding-left:.4em;
    background-color:rgba(0, 0, 0, 0);
			font-weight:normal;
			text-align:left;
            border:0px solid #fff;
			}

tr:hover{background-color: rgba(255, 255, 255, 0.5);}

/*---Layout---*/

.colour{background:#d9d9d9;
        padding-top:2em;
        padding-bottom:2em;}

.yellow1{background:#f4f498;
        padding-top:2em;
        padding-bottom:2em;}

.blue1{background:#98dbed;
        padding-top:2em;
        padding-bottom:2em;
        width:100%;}

.orange1{background:#edba88;
        padding-top:2em;
        padding-bottom:2em;}

.pink1{background:#ef9abc;
        padding-top:2em;
        padding-bottom:2em;}

.green1{background:#7ee8b2;
        padding-top:2em;
        padding-bottom:2em;}

.purple1{background:#d2b0e2;
        padding-top:2em;
        padding-bottom:2em;}

/*---Masonry---*/

.item{height:27em;
    padding-left:2em;
    padding-bottom:2em;
	}
.item:hover, .item:focus, .item:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.item1{height:27em;
    padding-left:10em;
    padding-bottom:2em;
	}
.item1:hover, .item1:focus, .item1:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

/*---Images---*/

.diamond{height:22em;
        position:relative;
        margin-left:35%;
        margin-bottom:-9em;
        margin-top:-4em;}

.elements{height:30em;
        width:30em;
        float:left;
        padding-left:0em;
        margin-right:2em;
        padding-bottom:1em;}

.uses{height:16em;
    width:20em;
    margin-right:2em;
    margin-left:4em;
    padding-top:1em;
    padding-bottom:1em;}

@-webkit-keyframes rotate{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}

.structure{position:relative;
    height:30em;
        margin-bottom:2em;
        margin-top:0em;
        margin-left:24em;
        -webkit-animation-name:rotate;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;}

.character{padding-top:4.5em; margin-left:36em; height:7em;}

ul.img-list {
  list-style-type:none;
  margin:0;
  padding:1em 0em 1em 0em;
  text-align:center;
}

ul.img-list li {
  display:inline-block;
  height:250px;
  margin:0 1em 1em 0;
  position:relative;
  width:350px;
}

span.text-content {
font-family:'Arimo',sans-serif;
font-size:2em;
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:150px;
  left:1em;
  position:absolute;
  top:0;
  width:250px;
}

span.text-content span {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

span.text-content {
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:250px;
  left:0;
  position:absolute;
  top:0;
  width:350px;
  opacity:0;
}

ul.img-list li:hover span.text-content {
  opacity:1;
}

span.text-content {
  background:rgba(0,0,0,.5);
  color:white;
  cursor:pointer;
  display:table;
  height:250px;
  left:0;
  position:absolute;
  top:0;
  width:350px;
  opacity:0;
  -webkit-transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -o-transition:opacity 500ms;
  transition:opacity 500ms;
}

.imae{height:250px; width:350px; background:#000;}

.popup {
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility:hidden;
    width:50%;
    background-color:#555;
    color:#fff;
    text-align: center;
    border-radius:6px;
    padding:7px 0;
    position:absolute;
    margin-bottom:-.5em;
    z-index:1;
    bottom:70%;
    left:71.5%;
    margin-left:-30px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*---Table---*/

table {margin-top:-1em;
        margin-left:4em;
        width:90%;
        height:37em;
        table-layout:fixed;}

td{color:#fff;
    font-size:1.6em;
			font-weight:normal;
			text-align:center;
            background:#D9D9D9;
            border:3px solid #fff;
			}

.hoverr:hover, .hoverr:focus, .hoverr:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.white{background:#fff;}

.blue{background:#98dbed;}
.blue:hover, .blue:focus, .blue:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.orange{background:#edba88;}
.orange:hover, .orange:focus, .orange:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.pink{background:#ef9abc;}
.pink:hover, .pink:focus, .pink:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.purple{background:#d2b0e2;}
.purple:hover, .purple:focus, .purple:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.yellow{background:#f4f498;}
.yellow:hover, .yellow:focus, .yellow:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

.green{background:#7ee8b2;}
.green:hover, .green:focus, .green:active {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);}

/*---Footer---*/

.foot{background-color:#ef9abc;
		height:1em;
		margin-top:2em;}

.social{font-family: 'Roboto', sans-serif;
	color:#ef9abc;
	text-decoration:none;
    width:100%;
    margin:0;
	}

.love{background-color:#fff;}

footer{font-size:.9em;
	color:#ac61d8;
	padding-top:.7em;
	padding-bottom:1em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	text-decoration:none;
		}

a:link{font-size:.9em;
		color:#fff;
		text-decoration:none;}

a:visited{color:#fff;}

/*-----------------------------------------------*/

@media (max-width:979px) {
    
body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

.body1{ max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:url(../images/icons.svg) repeat-x fixed;}

p{padding-bottom:.5em;
	padding-left:3em;
	padding-right:3em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.2em;
	color:#000;
	}

.bold1{color:#000;
    font-weight:bold;}

.bold2{color:#000;
    font-weight:bold;
    margin-left:16em;}

/*---Headings---*/

 h1 {font-family:'Bungee Hairline',cursive;
         	font-weight:bolder;
            color:#000;
			text-align: center;
            font-size:5em;
			padding-top:1.2em;
			padding-bottom:0em;
			}

h2 {font-family:'Bungee Hairline',cursive;
           font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:3em;
			padding-top:1.5em;
			padding-bottom:.7em;
			}

h3{font-family: 'Sacramento', cursive;
    font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:4em;
			padding-top:1em;
            padding-bottom:.7em;}

/*---Nav---*/

.nav a{
	padding:1em 0;
	text-align:center;
	margin:1em;
	color:#fff;
	text-decoration:none;
	font-size:1em;
	}

.dia{font-family:'Bungee Hairline',cursive;
    font-size:8em;
    font-weight:bold;
    color:#d2b0e2;}

/*---Masonry---*/

.item{height:27em;
    padding-left:4em;
    padding-bottom:3em;
	}

.item1{height:27em;
    padding-left:4em;
    padding-bottom:3em;
	}
    
.element-individual{margin-top:-1em;
        margin-left:1em;
        width:40%;
        height:27em;
        table-layout:fixed;}

.bold1{color:#fff;
    font-size:1.1em;
    padding-left:.4em;
    width:37%;
    background-color:rgba(0, 0, 0, 0);
			font-weight:bold;
			text-align:left;
            border:0px solid #fff;
			}

.bold3{color:#fff;
    font-size:1em;
    padding-left:.4em;
    background-color:rgba(0, 0, 0, 0);
			font-weight:normal;
			text-align:left;
            border:0px solid #fff;
			}

/*---Images---*/

.diamond{height:22em;
        position:relative;
        margin-left:25%;
        margin-bottom:-9em;
        margin-top:-5em;}

.elements{height:30em;
        width:25em;
        float:left;
        padding-left:0em;
        margin-right:2em;
        padding-bottom:1em;}

.uses{height:16em;
    width:20em;
    margin-right:2em;
    margin-left:4em;
    padding-top:1em;
    padding-bottom:1em;}

.structure{position:relative;
    height:25em;
        margin-bottom:2em;
        margin-top:0em;
        margin-left:12.5em;
        -webkit-animation-name:rotate;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;}

.character{padding-top:2em; margin-left:20em; height:7em;}
    
.popup {
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility:hidden;
    width:80%;
    background-color:#555;
    color:#fff;
    text-align: center;
    border-radius:6px;
    padding:7px 0;
    position:absolute;
    margin-bottom:1em;
    z-index:1;
    bottom:70%;
    left:54%;
    margin-left:-30px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

ul.img-list li {
  display:inline-block;
  height:250px;
  margin:0 1em 1em 0;
  position:relative;
  width:350px;
}

span.text-content {
font-family:'Arimo',sans-serif;
font-size:3em;
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:150px;
  left:1em;
  position:absolute;
  top:0;
  width:250px;
}

span.text-content {
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:250px;
  left:0;
  position:absolute;
  top:0;
  width:350px;
  opacity:0;
}

span.text-content {
  background:rgba(0,0,0,.5);
  color:white;
  cursor:pointer;
  display:table;
  height:250px;
  left:0;
  position:absolute;
  top:0;
  width:350px;
  opacity:0;
  -webkit-transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -o-transition:opacity 500ms;
  transition:opacity 500ms;
}

.imae{height:250px; width:350px;}  
    
/*---Table---*/

table {margin-top:-1em;
        margin-left:0em;
        width:100%;
        height:30em;
        table-layout:fixed;}

td{color:#fff;
    font-size:1.3em;
			font-weight:normal;
			text-align:center;
            background:#D9D9D9;
            border:1.5px solid #fff;
    }}

/*-----------------------------------------------*/
    
@media (max-width:414px) {
    
body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

.body1{ max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family:'Arimo',sans-serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:url(../images/icons.svg) repeat-y fixed;}

p{padding-bottom:.5em;
	padding-left:3em;
	padding-right:3em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1.2em;
	color:#000;
	}

.bold1{color:#000;
    font-weight:bold;}

.bold2{color:#000;
    font-weight:bold;
    margin-left:4.5em;}

/*---Headings---*/

 h1 {font-family:'Bungee Hairline',cursive;
         	font-weight:bolder;
            color:#000;
			text-align: center;
            font-size:3em;
			padding-top:1.2em;
			padding-bottom:0em;
			}

h2 {font-family:'Bungee Hairline',cursive;
           font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:2.75em;
			padding-top:1.5em;
			padding-bottom:.7em;
			}

h3{font-family: 'Sacramento', cursive;
    font-weight:normal;
            color:#000;
			text-align: center;
    		font-size:2.5em;
			padding-top:2em;
            padding-bottom:0em;}

/*---Nav---*/

.nav a{
	padding:.5em 0;
	text-align:center;
	margin:.5em;
	color:#fff;
	text-decoration:none;
	font-size:.8em;
	}

.dia{font-family:'Bungee Hairline',cursive;
    font-size:8em;
    font-weight:bold;
    color:#d2b0e2;}

/*---Masonry---*/
    
.element-individual{margin-top:-1em;
        padding-left:3em;
        margin-left:1em;
        width:95%;
        height:27em;
        table-layout:fixed;}

.bold1{color:#fff;
    font-size:1em;
    padding-left:.1em;
    width:34%;
    background-color:rgba(0, 0, 0, 0);
			font-weight:bold;
			text-align:left;
            border:0px solid #fff;
			}

.bold3{color:#fff;
    font-size:.9em;
    padding-left:.4em;
    background-color:rgba(0, 0, 0, 0);
			font-weight:normal;
			text-align:left;
            border:0px solid #fff;
			}

.item{height:27em;
    padding-left:10%;
    padding-bottom:1.5em;
	}

.item1{height:27em;
    padding-left:10%;
    padding-bottom:1.5em;
	}

/*---Images---*/

.diamond{height:13em;
        position:relative;
        margin-left:18%;
        margin-bottom:-9em;
        margin-top:-9em;}

.elements{height:20em;
        width:18em;
        float:left;
        padding-left:.5em;
        margin-right:2em;
        padding-bottom:0em;}

.uses{height:16em;
    width:20em;
    margin-right:2em;
    margin-left:4em;
    padding-top:1em;
    padding-bottom:0em;}

.structure{position:relative;
    height:18em;
        margin-bottom:2em;
        margin-top:2em;
        margin-left:13%;
        -webkit-animation-name:rotate;
        -webkit-animation-duration:10s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;}

.character{padding-top:2em; margin-left:9.5em; height:5em;}
    
.popup {
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility:hidden;
    width:100%;
    background-color:#555;
    color:#fff;
    text-align: center;
    border-radius:6px;
    padding:5px 0;
    position:absolute;
    margin-bottom:.4em;
    z-index:1;
    bottom:73%;
    left:45%;
    margin-left:-30px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

ul.img-list li {
  display:inline-block;
  height:200px;
  margin:0 1em 1em .8em;
  position:relative;
  width:300px;
}

span.text-content {
font-family:'Arimo',sans-serif;
font-size:1.5em;
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:200px;
  left:1em;
  position:absolute;
  top:0;
  width:300px;
}

span.text-content {
  background:rgba(0,0,0,1);
  color:white;
  cursor:pointer;
  display:table;
  height:200px;
  left:0;
  position:absolute;
  top:0;
  width:300px;
  opacity:0;
}

span.text-content {
  background:rgba(0,0,0,.5);
  color:white;
  cursor:pointer;
  display:table;
  height:200px;
  left:0;
  position:absolute;
  top:0;
  width:300px;
  opacity:0;
  -webkit-transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -o-transition:opacity 500ms;
  transition:opacity 500ms;
}

.imae{height:200px; width:300px;}  
    
/*---Table---*/

table {margin-top:-1em;
        width:100%;
        height:13em;
        table-layout:fixed;
        }

td{color:#fff;
    font-size:.2em;
			font-weight:normal;
			text-align:center;
            background:#D9D9D9;
            border:1.5px solid #fff;
}

footer{font-size:.6em;
	color:#ac61d8;
	padding-top:.7em;
	padding-bottom:1em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	text-decoration:none;
		}}