---
layout: default
title: 
---

<body>
    
        <h2>{{ page.title }}</h2>
    
        <div class="colour">

<img class="elements" src="images/">
    
    <table class="element-individual">
<tr><td class="bold1">Name:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Formula:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Atomic Number:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Group:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Block:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Atomic Mass:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Discovery Date:</td><td class="bold3"></td></tr>
<tr><td class="bold1">Appearance:</td><td class="bold3"></td></tr>   
</table> 
    </div>
    
       <img class="structure" src="images/"> 

    <div class="colour">
        
<p><span class="bold2">Uses:</span></p>
        
        	  
        <ul class="img-list">
  <li>
      <img src="images/" class="imae"/>
      <span class="text-content"><span>Use 1</span></span>
  </li>
                  
      <li>
      <img src="images/" class="imae"/>
      <span class="text-content"><span>Use 2</span></span>
  </li>
                  
      <li>
      <img src="images/" class="imae"/>
      <span class="text-content"><span>Use 3</span></span>
  </li>
                   </ul>
        
        </div>
    
    <div class="popup" onclick="myFunction()"><img class="character" src="images/">
  <span class="popuptext" id="myPopup">Interesting Fact</span>
</div>
    
    <script>
// When the user clicks on div, open the popup
function myFunction() {
    var popup = document.getElementById('myPopup');
    popup.classList.toggle('show');
}
</script>
    
    </body>